<% if @participation.action_type.name == "denounce" %>
  <div class="mb-5">
    <h1 class="pb-1">Green sniper</h1>
      <div class="pulse">
        <%= image_tag('ghost_pixel.png', alt: 'Ghost', width: '50px', height: '50px') %>
      </div>
  </div>
  <div class="mb-fat">
    <h3 class="mb-fat">Tu as fait perdre </h3>
    <h2 class="mb-fat" id="point-lost"><%= @participation.action_type.points %> pts</h2>
    <h3 class="mb-fat">à</h3>
    <h2 class="mb-fat"><%= @participation.spot.team.name %></h2>
  </div>
<% else %>
  <div class="mb-5">
    <h1 class="pb-1">Winner</h1>
      <div class="pulse">
        <%= image_tag('crown_pixel.png', alt: 'Crown', width: '50px', height: '50px') %>
      </div>
  </div>
  <div class="mb-fat">
    <h3 class="mb-fat">Tu as rapporté </h3>
    <h2 class="mb-fat" id="point-win"><%= @participation.action_type.points %> pts</h2>
    <h3 class="mb-fat">à</h3>
    <h2 class="mb-fat"><%= @participation.user.team.name %></h2>
  </div>
<% end %>
