<div class="container mt-4">
  <div class="row mb-3">
    <% action_id = ActionType.find_by(name: "water spot").id %>
    <%= render "action",
      action_id: action_id,
      path: new_spot_participation_path(params[:id], action_type: action_id),
      should_block: block_action(params[:id],action_id),
      spot_id: params[:id] do
    %>
      <%= render "shared/badge", { badge_img: "plant_watering.png", badge_text: "Arroser", badge_class: "mb-2" } %>
    <% end %>
    <% action_id = ActionType.find_by(name: "plant").id %>
    <%= render "action",
      action_id: action_id,
      path: new_spot_participation_path(params[:id], action_type: action_id),
      should_block: block_action(params[:id],action_id),
      spot_id: params[:id] do
    %>
      <%= render "shared/badge", { badge_img: "planting.png", badge_text: "Planter", badge_class: "mb-2" } %>
    <% end %>
  </div>
  <div class="row">
    <% action_id = ActionType.find_by(name: "care").id %>
    <%= render "action",
      action_id: action_id,
      path: new_spot_participation_path(params[:id], action_type: action_id),
      should_block: block_action(params[:id],action_id),
      spot_id: params[:id] do
    %>
      <%= render "shared/badge", { badge_img: "plant_caring.png", badge_text: "Entretenir", badge_class: "mb-2" } %>
    <% end %>
    <% action_id = ActionType.find_by(name: "denounce").id %>
    <%= render "action",
      action_id: action_id,
      path: new_spot_participation_path(params[:id], action_type: action_id),
      should_block: block_action(params[:id],action_id),
      spot_id: params[:id] do
    %>
      <%= render "shared/badge", { badge_img: "plant_dying.png", badge_text: "Aïe, c'est mort !", badge_class: "mb-2" } %>
    <% end %>
  </div>
</div>
