<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-6 position-relative">
      <%= link_to new_spot_participation_path(params[:id], action_type: ActionType.find_by(name: "water spot").id) do %>
        <% if block_action(params[:id], ActionType.find_by(name: "water spot").id) %>
          <div class="timer shadow">
            <p>Encore 35m</p>
          </div>
        <% end %>
        <%= render "shared/badge", { badge_img: "plant_watering.png", badge_text: "Arroser", timer: "4h25s" } %>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to new_spot_participation_path(params[:id], action_type: ActionType.find_by(name: "plant").id) do %>
        <%= render "shared/badge", { badge_img: "planting.png", badge_text: "Planter", timer: nil } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= link_to new_spot_participation_path(params[:id], action_type: ActionType.find_by(name: "care").id) do %>
        <%= render "shared/badge", { badge_img: "plant_caring.png", badge_text: "Entretenir", timer: nil } %>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to new_spot_participation_path(params[:id], action_type: ActionType.find_by(name: "denounce").id) do %>
        <%= render "shared/badge", { badge_img: "plant_dying.png", badge_text: "Aïe, c'est mort !", timer: nil } %>
      <% end %>
    </div>
  </div>
</div>
