<div class="overlay" data-map-target="spotDetailsContent" data-controller="spot-details">
  <div class="position-sticky top-0 d-flex justify-content-end w-100 pt-3 px-3">
    <button class="btn-close btn-close-white" data-action="click->spot-details#closeOverlay"></button>
  </div>
  <div class="overflow-scroll">
    <div class="d-flex gap-4">
      <h2 class="p-3"><%= address_formatter spot.address %></h2>
      <%= render "heart", spot: @spot %>
    </div>
    <% if spot.photo.attached? %>
      <%= cl_image_tag spot.photo.key, height: 160, class: "spot-img" %>
    <% else %>
      <%= image_tag "spot_default.jpeg", width: "120%", height: 160 %>
    <% end %>
    <%= render "spot_actions" %>
    <%= render "participations_history" %>
  </div>
</div>
