<div class="favorite-card gap-4" data-action="click->overlay#showSpotDetails" data-id="<%= spot.id %>">
  <div class="w-100 d-flex justify-content-between favorite-card-img">
    <% if false #spot.photo.attached? %>
      <%= cl_image_tag spot.photo.key, width: "100%", height: 150, crop: :fill %>
    <% else %>
      <%= image_tag "spot_default.jpeg", width: "100%", height: 150 %>
    <% end %>

  <div class="picto-dry-or-not">
    <div>
      <% if dry?(spot) %>
        <%= image_tag "plant_dying.png", width: 35, height: 35, crop: :fill %>
      <% else %>
        <%= image_tag "plant.png", width: 35, height: 35, crop: :fill %>
      <% end %>
      <p><%= spot.name %></p>
    </div>
  </div>
  </div>
  <%# <div class="participation-item" >
    <%= participation_history(spot.not_event_participations.order(:created_at).first) %>
  </div>
</div>
