<div class="favorite-card pixel-border gap-4" data-action="click->overlay#showSpotDetails" data-id="<%= spot.id %>">
  <div class="w-100 d-flex justify-content-between align-items-end favorite-card-img">
    <% if false # spot.photo.attached? %>
      <%= cl_image_tag spot.photo.key, width: "100%", height: 150, crop: :fill %>
    <% else %>
      <%= image_tag "spot_default.jpeg", width: "100%", height: 150 %>
    <% end %>
    <p><%= spot.name %></p>
  </div>
  <div class="participation-item" >
    <%= participation_history(spot.not_event_participations.order(:created_at).first) %>
  </div>
</div>
