<div class="d-flex flex-column justify-content-center align-items-center h-100 <%= custom_class ||= ""%>">
  <div class="badge <%= badge_class ||= ""%>" style="<%= size ||= ""%>">
    <%= image_tag badge_img, width: "80%", height: "80%" %>
  </div>
  <% timer ||= false %>
  <p><%= badge_text %></p>
  <% show = !plus_btn ||= true  %>
  <p
    data-timer-spot-id-value="<%= spot_id  ||= ""%>"
    data-timer-action-id-value="<%= action_id ||= ""%>"
    data-timer-action-name-value="<%= action_name ||= ""%>"
    data-controller="<%= timer ? "timer" : "" %>"
  ></p>
</div>
