<div class="d-flex flex-column justify-content-center align-items-center <%= custom_class ||= ""%>">
  <div class="badge <%= badge_class ||= ""%>" style="<%= size ||= ""%>">
    <%= image_tag badge_img, width: "80%", height: "80%" %>
  </div>
  <p><%= badge_text %></p>
</div>
