<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "map", root_path %>
    <%= link_to "favourites", "/" %>
    <%= link_to "+", "/" %>
    <%= link_to "team", "/" %>
    <%= link_to "profile", "/" %>
  </div>
</div>
