<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <%= link_to "/" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
    <%= link_to "+", "/" %>
    <%= link_to "/" do %>
      <i class="fa-solid fa-users"></i>
    <% end %>
    <%= link_to "/" do %>
      <i class="fa-solid fa-gear"></i>
    <% end %>
  </div>
</div>
