<div class="container mt-4">
  <h2 class="mt-4 p-3"><%= @event_type.name %> </h2>
  <p class="my-3 text-center">**********************************************</p>
  <div class="row">
    <div class="col-12 ">
        <div class="col-6 text-align-center">
        <%= image_tag("trophy_pixel.png", width: 80, height: 80, crop: :fill) %>
        <h3><%= @event_type.points %>pts</h3>
        <%= image_tag("user_marker.png", width: 80, height: 80, crop: :fill) %>
        <h3><%= '0/10' %>contributeurs</h3>
        <% if @current_user_is_participating %>
          Bravo tu participes déjà!
        <% else %>
          <%= link_to "Je participe", spot_participations_path(@event.spot, participation: { event_id: @event.id}), class: "btn btn-primary", data: { turbo_method: :post } %>
        <% end %>











        </div>
    </div>
  </div>
  <p class="my-3 text-center">**********************************************</p>
    <div class ="row">
      <h3>Adresse :</h3>
      <%# ##remplacer par une mini map  %>
      <p><%= @event.spot.address %></p>
    </div>
  <p class="my-3 text-center">**********************************************</p>
  <div class="row">
    <div class="col-12">
    <h3>Le projet :</h3>
      <div class="p-3">
        <h5 class="mt-4 text-center"></h5>
          <div class="justify-content-center align-items-center gap-5">
            <p> Date : <%= @formatted_date %> </p>
            <p> Description : <%= @event.description %> </p>
          </div>
      </div>
    </div>
    <p class="my-3 text-center">**********************************************</p>
    <div class="col-12 text-center">
      <div class="p-3 mt-4">
      </div>
    </div>
</div>
</div>
