<!DOCTYPE html>
<html>
  <head>
    <title>Clash Of Green</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Clash of Green">
    <meta property="og:description" content="A game web app for people who wants to make their city greener by playing together">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.clashofgreen.com/">
    <meta property="og:image" content="https://www.clashofgreen.com/user_marker.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name=“apple-mobile-web-app-title” content=“offline-plugin”>
    <meta name=“apple-mobile-web-app-capable” content=“yes”>
    <meta name=“apple-mobile-web-app-status-bar-style” content=“black”>
    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/tabbar" %>
  </body>
</html>
